section.trends
  h2.section__title Сейчас в тренде
  ul.trends__list
    -
      const cards = [
        {tags: ['Lifestyle', 'Interior'], title: 'Сейчас в тренде: сад на подоконнике'},
        {tags: ['Food'], title: 'сыры на красивых картинках из интернета: какие они на вкус?'},
        {tags: ['Lifestyle', 'Travel'], title: 'СОБИРАЕМСЯ В ПЕРВЫЙ ПОХОД В ГОРЫ'},
        {tags: ['Food', 'Health'], title: 'Сейчас в тренде: сКОЛЬКО ВИТАМИНА c В ЛИМОНАХ?'}
      ];
    each card in cards
      li.trends__card
        .card__desc
          ul.card__tags
            each tag in card.tags
              li.card__tag
                a.card__link(href='#')=tag
          h3.card__title
            a.card__title-link(href='#')=card.title
