section.trends
  h2.section__title Сейчас в тренде
  ul.trends__list
    -
      const cards = [
        {tags: ['Lifestyle', 'Interior'], title: 'Сейчас в&nbsp;тренде: сад на&nbsp;подоконнике'},
        {tags: ['Food'], title: 'сыры на&nbsp;красивых картинках из&nbsp;интернета: какие они на&nbsp;вкус?'},
        {tags: ['Lifestyle', 'Travel'], title: 'СОБИРАЕМСЯ В&nbsp;ПЕРВЫЙ ПОХОД В&nbsp;ГОРЫ'},
        {tags: ['Food', 'Health'], title: 'Сейчас в&nbsp;тренде: сКОЛЬКО ВИТАМИНА c&nbsp;В&nbsp;ЛИМОНАХ?'}
      ];
    each card in cards
      li.trends__card
        .card__desc
          ul.card__tags
            each tag in card.tags
              li.card__tag
                a.card__link(href='#')=tag
          h3.card__title
            a.card__title-link(href='#')!=card.title
