link(rel='preload', href='fonts/OpenSans-Regular.woff2', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/OpenSans-Regular.woff', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/OpenSans-Bold.woff2', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/OpenSans-Bold.woff', as='font', crossorigin='anonymous')
link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css')
link(rel='stylesheet', href='style.css')
